<h1>{{class.title}}</h1>
<hr>
<h2>Sets</h2>
<div class="flex-container">
  <div class="card col-3" *ngFor="let s of class.sets">
    <div class="card-body" routerLink="/setdetail/{{s.id}}">
      <h5 class="card-title">{{s.title}}</h5>
      <p class="card-text"> {{s.itemNum}} items
      </p>
      <p class="text-muted text-end">{{s.creator}}</p>
    </div>
  </div>
</div>
<hr>
<h2>Tests</h2>
<div class="flex-container" *ngIf="class.tests">
  <div class="card col-3" *ngFor="let t of tests">
    <div class="card-body" routerLink="testdetail/{{t.id}}">
      <h5 class="card-title">{{t.title}}</h5>
      <p class="card-text"> {{t.sets.length}} sets
      </p>
    </div>
  </div>
</div>
<div *ngIf="!class.tests">
  <p>There are currently no tests for this class</p>
</div>
<button class="btn btn-primary" routerLink="testedit">Add test</button>