<h1>My sets</h1>
<div class="flex-container" *ngIf="setList.length!=0">
  <div class="card col-3" *ngFor="let s of setList">
    <div class="card-body" routerLink="/setdetail/{{s.id}}">
      <h5 class="card-title">{{s.title}}</h5>
      <p class="card-text"> {{s.itemNum}} items
      </p>
      <p class="text-muted text-end">{{s.creator}}</p>
    </div>
  </div>
</div>
<div *ngIf="setList.length==0"><p>
  There are not sets yet.
</p></div>
<a *ngIf="isAuthenthicated" class="addButton btn btn-primary btn-lg rounded-circle" routerLink="/new-set">+</a>