<h1>My classes</h1>
<div class="flex-container" *ngIf="classList.length!=0">
  <div class="card col-3" *ngFor="let c of classList">
    <div class="card-body" routerLink="/classdetail/{{c.id}}">
      <h5 class="card-title">{{c.title}}</h5>
      <p class="card-text"> {{c.sets.length}} sets
      </p>
      <p class="text-muted text-end">{{c.creator.username}}</p>
    </div>
  </div>
</div>
<div *ngIf="classList.length==0">
  <p>You currently have no classes.</p>
</div>
<a *ngIf="user.role=='teacher'" class="addButton btn btn-primary btn-lg rounded-circle" routerLink="/new-class">+</a>